<div class="feed-item folding feed-item-hook feed-item-5
                        " feed-item-a="" data-type="a" id="feed-5" data-za-module="FeedItem" data-za-index="">
    <meta itemprop="ZReactor" data-id="2721435" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 2517, &quot;comments&quot;: 471, &quot;source&quot;: []}">
    <div class="feed-item-inner">
        <div class="avatar">
            <a title="吕剑霆" data-tip="p$t$jtlvcn" class="zm-item-link-avatar" target="_blank" href="https://nowcoder.com/people/jtlvcn">
                <img src="../images/res/a3f80f6a6_m.jpg" class="zm-item-img-avatar"></a>
        </div>
        <div class="feed-main">
            <div class="feed-source" data-za-module="FeedSource">热门回答，来自
                <a href="https://nowcoder.com/topic/19604128" data-tip="t$b$19604128" data-token="19604128" data-topicid="18012" target="_blank">山西省长子县</a>
                <a data-follow="t:link" href="javascript:;" class="zg-follow zu-autohide follow-topic zu-edit-button" data-id="18012">关注话题</a></div>
            <div class="feed-content" data-za-module="AnswerItem">
                <meta itemprop="answer-id" content="2721435">
                <meta itemprop="answer-url-token" content="18864677">
                <h2 class="feed-title">
                    <a class="question_link" target="_blank" href="https://nowcoder.com/question/21643389#answer-2721435">如何评价长子县杨天？</a></h2>
                <div class="feed-question-detail-item">
                    <div class="question-description-plain zm-editable-content"></div>
                </div>
                <div class="expandable entry-body">
                    <!-- <link itemprop="url" href="/question/21643389/answer/18864677">
                    <meta itemprop="answer-id" content="2721435">
                    <meta itemprop="answer-url-token" content="18864677"> -->
                    <div class="zm-item-vote">
                        <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount="">2517</a></div>
                    <div class="zm-votebar" data-za-module="VoteBar">
                        <button class="up" aria-pressed="false" title="赞同">
                            <i class="icon vote-arrow"></i>
                            <span class="count">17</span>
                            <span class="label sr-only">赞同</span></button>
                        <button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span></button>
                    </div>
                    <div class="zm-item-answer-author-info">
                        <a class="author-link" data-tip="p$t$jtlvcn" target="_blank" href="https://nowcoder.com/people/jtlvcn">FireFly</a>
                        <span title="半血复活ing..." class="bio">，颓废girl....杨天哥哥小迷妹</span></div>
                    <div class="zm-item-vote-info" data-votecount="2517" data-za-module="VoteInfo">
                                                <span class="voters text">
                                                    <a href="#" class="more text">
                                                        <span class="js-voteCount">2517</span>&nbsp;人赞同</a></span>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="838079" data-action="/answer/content" data-author-name="吕剑霆" data-entry-url="/question/21643389/answer/18864677">
                        <textarea hidden="" class="content">哇！竟然看到了老乡~我家住在丹朱大街，跟杨天哥哥从小是邻居，虽然有可能他并不认识我。杨天哥哥从小勤奋刻苦，在长子县丹朱大街是出了名的优秀，记得我在初一的时候，杨天哥哥考上了长治最好的中学太行中学，把我羡慕的。</textarea>
                        <div class="zh-summary summary clearfix">哇！竟然看到了老乡~我家住在丹朱大街，跟杨天哥哥从小是邻居，虽然有可能他并不认识我。杨天哥哥从小勤奋刻苦，在长子县丹朱大街是出了名的优秀，记得我在初一的时候，杨天哥哥考上了长治最好的中学太行中学，把我羡慕的。…
                            <a href="https://nowcoder.com/question/21643389/answer/18864677" class="toggle-expand">显示全部</a></div>
                        <p class="visible-expanded">
                            <a itemprop="url" class="answer-date-link meta-item" data-tip="s$t$发布于 2018-09-13" target="_blank" href="https://nowcoder.com/question/21643389/answer/18864677">编辑于 2018-09-18</a></p>
                    </div>
                </div>
                <div class="feed-meta">
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a data-follow="q:link" class="follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114">
                                <i class="z-icon-follow"></i>关注问题</a>
                            <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>9 条评论</a>
                            <a href="#" class="meta-item js-thank" data-thanked="false">
                                <i class="z-icon-thank"></i>感谢</a>


                            <button class="meta-item item-collapse js-collapse">
                                <i class="z-icon-fold"></i>收起</button>
                        </div>
                    </div>
                    <a href="#" class="ignore zu-autohide" name="dislike" data-tip="s$b$不感兴趣"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="undo-dislike-options" data-item_id="5">此内容将不会在动态中再次显示
        <span class="zg-bull">•</span>
        <a href="#" class="meta-item revert">撤销</a>
        <a href="#" class="ignore zu-autohide close"></a>
    </div>
</div>

<div class="feed-item folding feed-item-hook feed-item-2
                        " feed-item-a="" data-type="a" id="feed-2" data-za-module="FeedItem" data-za-index="">
    <meta itemprop="ZReactor" data-id="389034" data-meta="{&quot;source_type&quot;: &quot;promotion_answer&quot;, &quot;voteups&quot;: 4168, &quot;comments&quot;: 69, &quot;source&quot;: []}">
    <div class="feed-item-inner">
        <div class="avatar">
            <a title="李松" data-tip="p$t$amuro1230" class="zm-item-link-avatar" target="_blank" href="https://nowcoder.com/people/amuro1230">
                <img src="../images/res/12a8e1ce5ad8060fddb93ae2df98028b_m.jpg" class="zm-item-img-avatar"></a>
        </div>
        <div class="feed-main">
            <div class="feed-source" data-za-module="FeedSource">热门回答，来自
                <a href="https://nowcoder.com/topic/19562033" data-tip="t$t$19562033" data-token="19562033" data-topicid="3946" target="_blank">人际交往</a>
                <a data-follow="t:link" href="javascript:;" class="zg-follow zu-autohide follow-topic zu-edit-button" data-id="3946">关注话题</a></div>
            <div class="feed-content" data-za-module="AnswerItem">
                <meta itemprop="answer-id" content="389034">
                <meta itemprop="answer-url-token" content="13174385">
                <h2 class="feed-title">
                    <a class="question_link" target="_blank" href="https://nowcoder.com/question/19857995#answer-389034">如何评价太行中学287班的郭嘉豪？</a></h2>
                <div class="feed-question-detail-item">
                    <div class="question-description-plain zm-editable-content"></div>
                </div>
                <div class="expandable entry-body">
                    <!-- <link itemprop="url" href="/question/19857995/answer/13174385">
                    <meta itemprop="answer-id" content="389034">
                    <meta itemprop="answer-url-token" content="13174385"> -->
                    <div class="zm-item-vote">
                        <a class="zm-item-vote-count js-expand js-vote-count" href="javascript:;" data-bind-votecount="">4168</a></div>
                    <div class="zm-votebar" data-za-module="VoteBar">
                        <button class="up" aria-pressed="false" title="赞同">
                            <i class="icon vote-arrow"></i>
                            <span class="count">4168</span>
                            <span class="label sr-only">赞同</span></button>
                        <button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span></button>
                    </div>
                    <div class="zm-item-answer-author-info">
                        <a class="author-link" data-tip="p$b$amuro1230" target="_blank" href="https://nowcoder.com/people/amuro1230">李淼</a>
                        <span title="从互联网行业出来在做旅行的前对冲基金从业者" class="bio">，从互联网行业出来在做旅行的前对冲基金从…</span></div>
                    <div class="zm-item-vote-info" data-votecount="4168" data-za-module="VoteInfo">
                                                <span class="voters text">
                                                    <a href="#" class="more text">
                                                        <span class="js-voteCount">4168</span>&nbsp;人赞同</a></span>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="123114" data-action="/answer/content" data-author-name="李淼" data-entry-url="/question/19857995/answer/13174385">
                        <textarea hidden="" class="content">脑残sb一个，我在283读书，跟他接触过一段时间，刚开始觉得人模狗样，时间久了，就发现这是个sb" data-rawwidth="594" data-rawheight="410" class="origin_image zh-lightbox-thumb" width="594" data-original="https://pic2.zhimg.com/90b610c42a6a4995db03459aff04bb71_r.jpg"&gt;还有这两位服务员：&lt;br&gt;&lt;img src="https://pic2.zhimg.com/93b8ae7f1a13ed11ac9dde9548a20dad_b.jpg" data-rawwidth="1000" data-rawheight="1400" class="origin_image zh-lightbox-thumb" width="1000" data-original="https://pic2.zhimg.com/93b8ae7f1a13ed11ac9dde9548a20dad_r.jpg"&gt;&lt;br&gt;&lt;br&gt;别看你们见识少，嘴炮倒是放得棒棒的呢！&lt;br&gt;&lt;img src="https://pic3.zhimg.com/f336ff360e73fba6f9a024630220f0e6_b.jpg" data-rawwidth="618" data-rawheight="360" class="origin_image zh-lightbox-thumb" width="618" data-original="https://pic3.zhimg.com/f336ff360e73fba6f9a024630220f0e6_r.jpg"&gt;</textarea>
                        <div class="zh-summary summary clearfix">脑残sb一个，我在283读书，跟他接触过一段时间，刚开始觉得人模狗样，时间久了，就发现这是个sb,就某个穷县的村炮，天天爱装逼，再装逼吧，能装成北京人？…
                            <a href="https://nowcoder.com/question/19857995/answer/13174385" class="toggle-expand">显示全部</a></div>
                        <p class="visible-expanded">
                            <a itemprop="url" class="answer-date-link meta-item" data-tip="s$t$发布于 2011-09-23" target="_blank" href="https://nowcoder.com/question/19857995/answer/13174385">编辑于 2015-06-24</a></p>
                    </div>
                </div>
                <div class="feed-meta">
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a data-follow="q:link" class="follow-link zg-follow meta-item" href="javascript:;" id="sfb-123114">
                                <i class="z-icon-follow"></i>关注问题</a>
                            <a href="#" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>69 条评论</a>
                            <a href="#" class="meta-item js-thank" data-thanked="false">
                                <i class="z-icon-thank"></i>感谢</a>


                            <button class="meta-item item-collapse js-collapse">
                                <i class="z-icon-fold"></i>收起</button>
                        </div>
                    </div>
                    <a href="#" class="ignore zu-autohide" name="dislike" data-tip="s$b$不感兴趣"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="undo-dislike-options" data-item_id="2">此内容将不会在动态中再次显示
        <span class="zg-bull">•</span>
        <a href="#" class="meta-item revert">撤销</a>
        <a href="#" class="ignore zu-autohide close"></a>
    </div>
</div>
